<div>
	<div class="footer-comp">
		<div class="container h-100">
			<div class="grid-4 h-100">
				<div class="item">
					<div class="icon"></div>
					<div>
						<div class="name">游戏交易 应有尽有</div>
						<div class="sub">关于游戏你想要的，这里都有</div>
					</div>
				</div>
				<div class="item">
					<div class="icon" ></div>
					<div>
						<div class="name">交易安全 资金保障</div>
						<div class="sub">保障交易安全的事，我们都做</div>
					</div>
				</div>
				<div class="item">
					<div class="icon" ></div>
					<div>
						<div class="name">7*24小时 专属客服</div>
						<div class="sub">时时刻刻想联系我，客服都在</div>
					</div>
				</div>
				<div class="item">
					<div class="icon" ></div>
					<div>
						<div class="name">权威认证 安全可靠</div>
						<div class="sub">我是值得信赖平台，大家都造</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="btm-box">
		<div class="container h-100">
			<div class="flex-b align-center h-100">
				<span>@CopyRight 壹号通</span>
				<span>湘ICP备2021017435号</span>
			</div>
		</div>
	</div>
</div>