<div id="cardType">
	<div class="card-list">
		<div class="order-list m-flex flex-a align-center " style="margin-bottom: 10px;">
			<div class="order active" onclick="toggleOrderTab(this)" style="background: transparent;">价钱排序<div class="icon">
				</div>
			</div>
			<div class="order" style="background: transparent;" onclick="toggleOrderTab(this)">最新发布<div class="icon"></div>
			</div>
		</div>
		<div class="card-item" onclick="toPage('roleDetail')">
			<div class="img-box">
				<!-- <div class="type-badge"
					style="background: url(./img/juese.png) no-repeat;background-position: center;background-size: contain;">
				</div> -->
				<img src="https://img2.baidu.com/it/u=1279980577,766315695&fm=253&fmt=auto&app=138&f=JPEG" alt="">
			</div>
			<div class="title">我是标题我是标题我是标题我是标题我是我是标题我是标题我是标题我是标题</div>
			<div class="zone-box flex align-center">
				<div class="left">游戏区</div>
				<div class="right">一卡通测试一区</div>
			</div>
			<div class="tag-list flex align-center" >
				<div class="role-tag">战士</div>
				<div class="border-tag">10级</div>
				<div class="border-tag">男</div>
			</div>
			<div class="flex-b align-center">
				<div class="price"><span>¥</span>1200</div>
				<div class="countdown flex-e align-center">
					公示期时间
					<span class="blue" style="margin-left: 10px;">2</span>
					<span class="blue">8</span>
					<span>天</span>
					<span class="blue">2</span>
					<span class="blue">8</span>
					<span>时</span>
					<span class="blue">2</span>
					<span class="blue">8</span>
					<span>分</span>
					<span class="blue">2</span>
					<span class="blue">8</span>
					<span>秒</span>
				</div>
			</div>
		</div>
		<div class="card-item" onclick="toPage('roleDetail')">
			<div class="img-box">
				<!-- <div class="type-badge"
					style="background: url(./img/yuanbao.png) no-repeat;background-position: center;background-size: contain;">
				</div> -->
				<img src="https://img2.baidu.com/it/u=1279980577,766315695&fm=253&fmt=auto&app=138&f=JPEG" alt="">
			</div>
			<div class="title">我是标题我是标题我是标题我是标题我是我是标题我是标题我是标题我是标题</div>
			<div class="zone-box flex align-center">
				<div class="left">游戏区</div>
				<div class="right">一卡通测试一区</div>
			</div>
			<div class="tag-list flex align-center" >
				<div class="role-tag">战士</div>
				<div class="border-tag">10级</div>
				<div class="border-tag">男</div>
			</div>
			<div class="flex-b align-center">
				<div class="price"><span>¥</span>1200</div>
				<div class="countdown flex-e align-center">
					公示期时间
					<span class="blue" style="margin-left: 10px;">2</span>
					<span class="blue">8</span>
					<span>天</span>
					<span class="blue">2</span>
					<span class="blue">8</span>
					<span>时</span>
					<span class="blue">2</span>
					<span class="blue">8</span>
					<span>分</span>
					<span class="blue">2</span>
					<span class="blue">8</span>
					<span>秒</span>
				</div>
			</div>
		</div>
		<div class="card-item" onclick="toPage('roleDetail')">
			<div class="img-box">
				<!-- <div class="type-badge"
					style="background: url(./img/jinbi.png) no-repeat;background-position: center;background-size: contain;">
				</div> -->
				<img src="https://img2.baidu.com/it/u=1279980577,766315695&fm=253&fmt=auto&app=138&f=JPEG" alt="">
			</div>
			<div class="title">我是标题我是标题我是标题我是标题我是我是标题我是标题我是标题我是标题</div>
			<div class="zone-box flex align-center">
				<div class="left">游戏区</div>
				<div class="right">一卡通测试一区</div>
			</div>
			<div class="tag-list flex align-center" >
				<div class="role-tag">战士</div>
				<div class="border-tag">10级</div>
				<div class="border-tag">男</div>
			</div>
			<div class="flex-b align-center">
				<div class="price"><span>¥</span>1200</div>
				<div class="countdown flex-e align-center">
					公示期时间
					<span class="blue" style="margin-left: 10px;">2</span>
					<span class="blue">8</span>
					<span>天</span>
					<span class="blue">2</span>
					<span class="blue">8</span>
					<span>时</span>
					<span class="blue">2</span>
					<span class="blue">8</span>
					<span>分</span>
					<span class="blue">2</span>
					<span class="blue">8</span>
					<span>秒</span>
				</div>
			</div>
		</div>
		<div class="card-item" onclick="toPage('roleDetail')">
			<div class="img-box">
				<!-- <div class="type-badge"
					style="background: url(./img/juese.png) no-repeat;background-position: center;background-size: contain;">
				</div> -->
				<img src="https://img2.baidu.com/it/u=1279980577,766315695&fm=253&fmt=auto&app=138&f=JPEG" alt="">
			</div>
			<div class="title">我是标题我是标题我是标题我是标题我是我是标题我是标题我是标题我是标题</div>
			<div class="zone-box flex align-center">
				<div class="left">游戏区</div>
				<div class="right">一卡通测试一区</div>
			</div>
			<div class="tag-list flex align-center" >
				<div class="role-tag">战士</div>
				<div class="border-tag">10级</div>
				<div class="border-tag">男</div>
			</div>
			<div class="flex-b align-center">
				<div class="price"><span>¥</span>1200</div>
				<div class="countdown flex-e align-center">
					公示期时间
					<span class="blue" style="margin-left: 10px;">2</span>
					<span class="blue">8</span>
					<span>天</span>
					<span class="blue">2</span>
					<span class="blue">8</span>
					<span>时</span>
					<span class="blue">2</span>
					<span class="blue">8</span>
					<span>分</span>
					<span class="blue">2</span>
					<span class="blue">8</span>
					<span>秒</span>
				</div>
			</div>
		</div>
		<div class="card-item" onclick="toPage('roleDetail')">
			<div class="img-box">
				<!-- <div class="type-badge"
					style="background: url(./img/yuanbao.png) no-repeat;background-position: center;background-size: contain;">
				</div> -->
				<img src="https://img2.baidu.com/it/u=1279980577,766315695&fm=253&fmt=auto&app=138&f=JPEG" alt="">
			</div>
			<div class="title">我是标题我是标题我是标题我是标题我是我是标题我是标题我是标题我是标题</div>
			<div class="zone-box flex align-center">
				<div class="left">游戏区</div>
				<div class="right">一卡通测试一区</div>
			</div>
			<div class="tag-list flex align-center" >
				<div class="role-tag">战士</div>
				<div class="border-tag">10级</div>
				<div class="border-tag">男</div>
			</div>
			<div class="flex-b align-center">
				<div class="price"><span>¥</span>1200</div>
				<div class="countdown flex-e align-center">
					公示期时间
					<span class="blue" style="margin-left: 10px;">2</span>
					<span class="blue">8</span>
					<span>天</span>
					<span class="blue">2</span>
					<span class="blue">8</span>
					<span>时</span>
					<span class="blue">2</span>
					<span class="blue">8</span>
					<span>分</span>
					<span class="blue">2</span>
					<span class="blue">8</span>
					<span>秒</span>
				</div>
			</div>
		</div>
		<div class="card-item" onclick="toPage('roleDetail')">
			<div class="img-box">
				<!-- <div class="type-badge"
					style="background: url(./img/jinbi.png) no-repeat;background-position: center;background-size: contain;">
				</div> -->
				<img src="https://img2.baidu.com/it/u=1279980577,766315695&fm=253&fmt=auto&app=138&f=JPEG" alt="">
			</div>
			<div class="title">我是标题我是标题我是标题我是标题我是我是标题我是标题我是标题我是标题</div>
			<div class="zone-box flex align-center">
				<div class="left">游戏区</div>
				<div class="right">一卡通测试一区</div>
			</div>
			<div class="tag-list flex align-center" >
				<div class="role-tag">战士</div>
				<div class="border-tag">10级</div>
				<div class="border-tag">男</div>
			</div>
			<div class="flex-b align-center">
				<div class="price"><span>¥</span>1200</div>
				<div class="countdown flex-e align-center">
					公示期时间
					<span style="margin-left: 10px;" class="blue">2</span>
					<span class="blue">8</span>
					<span>天</span>
					<span class="blue">2</span>
					<span class="blue">8</span>
					<span>时</span>
					<span class="blue">2</span>
					<span class="blue">8</span>
					<span>分</span>
					<span class="blue">2</span>
					<span class="blue">8</span>
					<span>秒</span>
				</div>
			</div>
		</div>
	</div>
	<div class="flex-c align-center pagination-box pc-flex">
		<div class="page-item active">1</div>
		<div class="page-item">2</div>
		<div class="page-item">3</div>
		<div class="page-item">4</div>
		<div class="page-item">5</div>
		<div class="page-item pc-nav">6</div>
		<div class="page-item pc-nav">7</div>
		<div class="page-item pc-nav">8</div>
		<div class="page-item pc-nav">9</div>
		<div class="page-item pc-nav">10</div>
		<div class="page-item">下一页 ></div>
	</div>
</div>
